.options-form ul {
  padding: 0;
  margin: 15px 0 15px 25px;
}

.options-form ul li {
  line-height: 30px;
}

.options-form ul li span,
.options-form ul li a {
  background: #ffa;
  padding: 5px 7px;
  color: #343a40;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.options-form ul li a {
  color: blue;
  text-decoration: underline;
}

.options-form .form-field p {
  margin-bottom: 15px;
}

.options-form .form-field input[type="text"] {
  display: block;
  box-shadow: none;
  height: 60px;
  -webkit-box-shadow: none;
  border: 2px solid #ececec;
  margin-bottom: 15px;
}

.options-form .btn-save {
  margin-bottom: 10px;
}

.options-form .btn {
  font-size: 15px;
  padding: 15px 25px;
  height: 60px;
  line-height: 30px;
  display: block;
  width: 100%;
}
