.grid-item-container {
  padding: 10px;
  transition: all 0.3s ease;
}

.grid-item-body {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -5px 10px 60px -13px rgba(0, 0, 0, 0.20);
  height: 270px;
}

.grid-item-container .author-details {
  margin-bottom: 20px;
}

.grid-item-container .author-img img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 8px;
  float: left;
  margin-right: 15px;
}

.grid-item-container .author-details h5 {
  margin-bottom: 2px;
  font-weight: 600;
  color: #6c7583;
  font-size: 14px;
}

.grid-item-container .author-details a {
  color: #6c7583;
}

.grid-item-container .author-details p {
  margin-bottom: 0;
  font-size: 12px;
}

.grid-item-container .author-header, .repo-header, .repo-body {
  margin-bottom: 15px;
}

.grid-item-container .author-header a {
  text-decoration: none;
}

.grid-item-container .repo-header h5 {
  font-size: 19px;
  margin-bottom: 5px;
}

.grid-item-container .repo-header p {
  margin-bottom: 0;
}

.grid-item-container .repo-header a {
  text-decoration: none;
}

.grid-item-container .repo-header .repo-meta a {
  color: currentColor;
  font-weight: 500;
}

.grid-item-container .author-name {
  font-weight: 400;
}

.grid-item-container .repo-name {
  font-weight: 700;
  word-wrap: break-all;
}

.grid-item-container .repo-body p {
  font-size: 14px;
  margin-bottom: 0;
  color: #6e7583;
}

.grid-item-container .repo-footer {
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 25px;
  background: white;
  padding: 10px;
}

.grid-item-container .repo-footer a {
  text-decoration: none;
  color: #6c757d;
  font-weight: 500;
}

.grid-item-container .repo-footer a svg {
  position: relative;
  top: -2px;
  fill: #6c757d;
  margin-right: 5px;
}
