.list-item-container {
  padding: 0 0 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}

.list-item-container .repo-header h3 {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
}

.list-item-container .repo-header h3 .text-normal {
  font-weight: 400;
}

.list-item-container .repo-footer {
  font-size: 13px;
}

.list-item-container .repo-header p {
  margin-bottom: 0;
}

.list-item-container .repo-header, .list-item-container .repo-body {
  margin-bottom: 15px;
}

.list-item-container .repo-body p {
  margin-bottom: 0;
  display: block;
  max-width: 80%;
}

.list-item-container .repo-footer svg {
  position: relative;
  top: -1px;
  margin-right: 6px;
  fill: #6c757d;
}

.list-item-container .repo-meta a {
  color: currentColor;
  text-decoration: none;
  font-weight: 500;
}

.list-container .list-item-container:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.list-item-container .repo-footer a {
  color: #6c757d;
  text-decoration: none;
}

.list-item-container .author-link {
  position: absolute;
  top: 15px;
  right: 15px;
}

.list-item-container .author-img {
  height: 92px;
  width: 92px;
  border-radius: 92px;
}
