.options-container {
  margin: 200px auto 20px;
  max-width: 700px;
}

.options-container .container {
  background: white;
  padding: 25px 30px;
  border-radius: 20px;
}

.options-container .header svg {
  margin-right: 15px;
  float: left;
  height: 85px;
  width: 85px;
}

.options-container .header .logo {
  color: #2d2d2d;
}

.options-container .header .logo-text {
  margin-top: 11px;
  float: left;
}

.options-container .header {
  margin-bottom: 10px;
}

.options-container .header h3 {
  font-weight: 700;
  margin-bottom: 0;
}

.options-container .header .logo {
  display: block;
  margin-bottom: 10px;
}
