.repository-container {
  padding: 10px;
  transition: all 0.3s ease;
}

.repository-body {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -5px 10px 60px -13px rgba(0, 0, 0, 0.20);
  height: 270px;
}

.author-details {
  margin-bottom: 20px;
}

.author-img img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 8px;
  float: left;
  margin-right: 15px;
}

.author-details h5 {
  margin-bottom: 2px;
  font-weight: 600;
  color: #6c7583;
  font-size: 14px;
}

.author-details a {
  color: #6c7583;
}

.author-details p {
  margin-bottom: 0;
  font-size: 12px;
}

.author-header, .repo-header, .repo-body {
  margin-bottom: 15px;
}

.author-header a {
  text-decoration: none;
}

.repo-header h5 {
  font-size: 19px;
  margin-bottom: 5px;
}

.repo-header p {
  margin-bottom: 0;
}

.repo-header a {
  color: black;
  text-decoration: none;
}

.author-name {
  font-weight: 400;
}

.repo-name {
  font-weight: 700;
}

.repo-body p {
  font-size: 14px;
  margin-bottom: 0;
  color: #6e7583;
}

.repo-footer {
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  left: 25px;
  right: 25px;
  background: white;
  padding: 10px;
}

.repo-footer a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.repo-footer a svg {
  position: relative;
  top: -2px;
  margin-right: 5px;
}
