.view-type {
  border-radius: 8px;
  padding: 10px;
  background: white;
  cursor: default;
}

.night .view-type {
  background: transparent !important;
  border-color: #516b83 !important;
  color: #ccc !important;
}

.view-type button {
  color: #ccc;
  text-decoration: none;
  margin: 0 0 0 10px;
  padding: 0 5px;
  list-style: none;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none;
}

.view-type button.active, .view-type button:hover {
  color: #fff;
}

.view-type button:first-child {
  margin-left: 0;
}

.night .view-type button {
  opacity: 0.4;
}

.night .view-type button.active {
  color: #ccc;
  opacity: 1;
}