.view-type {
  border-radius: 8px;
  padding: 10px;
  background: white;
  cursor: default;
}

.view-type button {
  color: #ccc;
  text-decoration: none;
  margin: 0 0 0 10px;
  padding: 0 5px;
  list-style: none;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none;
}

.view-type button.active, .view-type button:hover {
  color: #343a40;
}

.view-type button:first-child {
  margin-left: 0;
}
