.group-heading {
  font-size: 22px;
  font-weight: 600;
  float: left;
}

.header-row h4 {
  margin-top: 15px;
}

.group-heading h4 {
  margin-bottom: 0;
}

.group-heading .small {
  font-size: 14px;
  font-weight: 400;
  margin-left: 3px;
}

.group-filters {
  float: right;
}

.grid-container {
  margin-top: 20px;
}

.row-group {
  margin-top: 35px;
}

.row-group .group-heading {
  margin: auto;
}
