.group-heading {
  font-size: 22px;
  font-weight: 600;
  float: left;
}

.group-heading h4 {
  margin-bottom: 0;
  margin-top: 5px;
}

.group-heading .small {
  font-size: 14px;
  font-weight: 400;
  margin-left: 3px;
}

.group-filters {
  float: right;
}

.repositories-list {
  margin-top: 20px;
}

.repositories-list:hover .repository-container {
  opacity: 0.5;
}

.repositories-list .repository-container:hover {
  opacity: 1;
  z-index: 2;
}
