.group-heading {
  font-size: 22px;
  font-weight: 600;
  float: left;
}

.header-row h4 {
  margin-top: 15px;
}

.group-heading h4 {
  margin-bottom: 0;
}

.group-heading .small {
  font-size: 14px;
  font-weight: 400;
  margin-left: 3px;
}

.group-filters {
  float: right;
}

.row-group {
  margin-top: 35px;
}

.row-group .group-heading {
  margin: auto;
}

.load-next-date {
  padding: 10px 20px;
  display: block;
  margin: 25px auto auto;
}

.alert-group {
  margin-top: -35px;
  margin-bottom: 25px;
  text-align: center;
}

.alert-group .alert:not(:last-child) {
  border-bottom: none;
}

.alert-group .alert {
  border-top: none;
  margin-bottom: 0;
}

.alert-warning {
  background: #ffa;
}
