@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/Montserrat-Regular.woff") format('woff');
    font-weight: normal;    /* font-weight of 400; */
}

@font-face {
    font-family: "montserrat-light";
    src: url("../fonts/Montserrat-Light.woff") format('woff');
    font-weight: lighter;
}

@font-face {
    font-family: "montserrat-semibold";
    src: url("../fonts/Montserrat-SemiBold.woff") format('woff');
    font-weight: 600;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: #ECE1E1;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

.btn {
    font-size: 15px;
    font-weight: normal;
    padding: 8px 12px;
    border: 2px solid #333;
    color: #333;
    margin: 0 5px;
    background: white;
    box-shadow: 2px 2px #333;
    outline: none;
}

.quote-item a {
    border-bottom: 1px solid #0B0BBD;
    padding-bottom: 6px;
    color: blue;
}

.active {
    background: #CECECE;
}

.highlight {
    color: #b300de;
}

.main {
    position: relative;
}

#particles-js {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;;
    z-index: -5;
}

.top-header {
    text-align: center;
}

div.container {
    width: 950px;
    margin: auto;
}

.top-header {
    padding-top: 30px;
}

.brand {
    float: left;
    text-align: left;
}

.brand h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

.brand p {
    margin-bottom: 30px;
    font-size: 17px;
    font-family: montserrat-light;
}

.top-header:after {
    clear: both;
    content: ' ';
    display: block;
}

.top-nav {
    float: right;
    line-height: 80px;
}

.main-content {
    margin-top: 80px;
}

.content-item {
    display: block;
    width: 295px;
    box-sizing: border-box;
    padding: 15px;
    height: 200px;
    background: #fefefe;
    float: left;
    position: relative;
    margin: 0 20px 20px 0px;
    border-radius: 4px;
    box-shadow: none;
    color: #333;
    position: relative;
    overflow: hidden;
}

.content-item .header {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
    overflow: hidden;
}

.content-item p.tagline {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    font-size: 13px;
    line-height: 20px;
}

.content-item .footer {
    position: absolute;
    bottom: 12px;
}

div.footer span.footer-stat {
    margin: 0 10px 0 0;
    font-size: 13px;
}

.batch-head {
    position: relative;
    top: -25px;
}

.batch-head a {
    margin: 0 11px 0 0;
    border: 2px solid;
    padding: 5px 12px;
    box-shadow: 2px 2px;
    font-family: montserrat-regular;
}

.clearfix {
    clear: both;
}

.loading-more {
    text-align: center;
    margin: -50px auto 50px;
}

.loading-more h3 {
    font-size: 20px;
}

.date-head {
    margin: -40px 20px 40px 0;
    padding: 8px 0px 8px 10px;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

h1.date-head:first-letter {
    text-transform: capitalize;
}

.btn.btn-select {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    cursor: pointer;
    border-color: white;
}

.btn-select select {
    font-size: 16px;
    line-height: 20px;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    display: inline-block;
    width: 150px;
    outline: none;
    background: white;
    padding: 0px 5px 0px 10px;
    cursor: pointer;
}

.btn-select .fa {
    position: absolute;
    right: 5px;
    top: 10px;
}

div.footer span.footer-stat .fa {
    margin-right: 2px;
}

.hide {
    display: none;
}

.content-batch {
    margin-bottom: 80px;
}

.content-item .header a {
    display: block;
    width: 100%;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
}

.muted {
    color: #BFB7B7;
}

.quote-item {
    margin: 60px 0 20px;
    padding: 20px 10px;
    background: #ccc;
}
