* { 
	margin: 0; 
	padding: 0; 
}

@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/Montserrat-Regular.woff") format('woff');
    font-weight: normal;	/* font-weight of 400; */
}

@font-face {
    font-family: "montserrat-light";
    src: url("../fonts/Montserrat-Light.woff") format('woff');
    font-weight: lighter;
}


@font-face {
    font-family: "montserrat-semibold";
    src: url("../fonts/Montserrat-SemiBold.woff") format('woff');
    font-weight: 600;
}

body {
	font-family: "montserrat-regular", Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    color: #7d8485;
}

p {
	font-family: "montserrat-light";
	font-weight: 200;
	font-size: 1.15em;
	line-height: 1.65em;
	margin-bottom: 0.94em;
}

strong {
	font-family: "montserrat-semibold", Arial, sans-serif;
}

.red-btn {
	border: 2px solid #DD4B39;
	padding: 0 10px;
	background: #DD4B39;
}

.brand a {
	text-decoration: none;
}

.button {
	-webkit-appearance: none;
    margin: 0;
    border: none;
    overflow: visible;
    -webkit-font-smoothing: inherit;
    font: inherit;
    color: #7d8485;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 1.25rem;
    background: #eee;
    font-weight: 400;
    vertical-align: middle;
    white-space: normal;
    line-height: 2.5rem;
    min-height: 2.625rem;
    font-size: 0.875rem;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    font-family: "montserrat-regular";
}

.button-primary {
	background-color: #dd4b39;
	color: #fff;
}

.enquiry-btn {
	margin: 20px 0;
}

h1, h2, h3, h4, h5 {
	font-weight: 400;
	color: #535a5b;
	font-family: "montserrat-regular";
}

.text-center {
	text-align: center;
}

.page-wrap {
	display: block; 
	width: 100%; 
	padding-top: 1px;
	position: relative;
}

.container {
	max-width: 950px;
	margin: auto;
}

.hero-unit {
	box-sizing: border-box;
	padding-top: 20px;
	display: block;
	width: 100%;
	background: url('../img/bg.png');
	min-height: 685px;
	text-align: center;
	color: white;
}

.hero-unit h1 {
	font-size: 2.5em;
	font-weight: 600;
	font-family: "montserrat-semibold";
}

.hero-unit * {
	color: white;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	clear: both;
}
.top-nav {
	line-height: 65px;
}
.top-nav ul li {
	display: inline;
	list-style: none;
}

.top-nav ul li a {
	text-decoration: none;
	color: white;
	display: inline-block;
	margin: 0 10px;
	line-height: 30px;
}

.hero-content {
	text-align: center;
}

.hero-content h2 {
	text-align: center;
	margin-top: 150px;
	font-weight: 300;
	font-size: 30px;
	font-family: "montserrat-light";
}
.head-divider {
	display: block;
	width: 100%;
	margin: 15px 0px 20px;
}
.head-divider:after {
	content: ' ';
	width: 130px;
	height: 2px;
	background: #dd4b39;
	margin: auto;
	display: block;
}

.services {
	padding: 50px 0;
}

.services-container {
	margin-top: 60px;
}

div.service-item {
    width: 270px;
    margin: 0 20px 40px;
}

i.service-icon {
	font-size: 50px;
	margin-bottom: 15px;
}

.services-container h2 {
    margin: 10px 0;
}

.wrapper-muted {
	background-color: #fcfcfc;
	border: solid #f2f2f2;
	border-width: 1px 0;
}

.page-section {
	padding: 50px 0;
}

.announce-box {
	display: block;
    width: 500px;
    margin: auto;
    padding: 20px;
    background: #FCFCFC;
    border: 1px solid #F1E7E7;
}

.announce-box p {
	margin: 0;
}
.contact-item {
	display: block;
    /*width: 150px;*/
    margin: auto;
    background: white;
    border: 1px solid #F1E7E7;
    text-align: left;
    position: relative;
    padding: 20px 20px 20px 61px;
    font-size: 15px;
    font-weight: 400;
    margin: 0 15px;
}

.contact-item a {
	text-decoration: none;
    color: #7D8485;
}

.contact-item .fa {
	font-size: 24px;
	position: absolute;
	left: 19px;
	color: #ccc;
	top: 30px;
}

.contact-item strong {
    display: block;
    font-weight: 600;
    font-family: "montserrat-semibold", Arial, sans-serif;
    color: #535A5B;
}

.contact-items {
	display: inline-block;
}

.strong-link {
	text-decoration: none;
	color: #535A5B;
	font-family: "montserrat-regular", Arial, sans-serif;
	font-weight: 400;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    width: 35px;
    height: 35px;
    background: #303232;
    color: white;
    z-index: 9999;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.show {
	display: block !important;
}