.language-filter-wrap {
  position: relative;
  z-index: 1;
}

.language-filter {
  border-radius: 8px;
  padding: 10px 20px;
  cursor: default;
  display: block;
  background: white !important;
  border-color: white !important;
}

.language-select {
  position: absolute;
  top: 100%;
  width: 300px;
  margin-top: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #586069;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
}

.select-menu-header, .select-menu-divider {
  padding: 12px 10px;
  background: white;
  border-bottom: 1px solid #e8e8e8;
  font-size: 15px;
}

.select-menu-header .select-menu-title, .select-menu-divider {
  font-weight: 600;
  color: #24292e;
}

.select-menu-filters {
  background-color: #f4f4f4;
}

.select-menu-text-filter {
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.select-menu-text-filter input {
  display: block;
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  border: 1px solid #dfe2e5 !important;
  padding: 5px 10px !important;
  border-radius: 3px;
  box-shadow: none !important;
  outline: none !important;
}

.select-menu-list {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.select-menu-item {
  text-align: left;
  background-color: #fff;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  display: block;
  padding: 10px 8px 10px 16px;
  overflow: hidden;
  color: inherit;
  cursor: pointer;
  border-bottom: 1px solid #e8e8e8;
}

.select-menu-list .select-menu-item:last-child {
  border-bottom: none;
}

.select-menu-item:hover, .select-menu-item.active-item {
  color: #fff;
  background-color: #1157ed;
  text-decoration: none;
}

.select-menu-item:hover .select-menu-item-text,
.select-menu-item.active-item .select-menu-item-text {
  color: white;
}

.select-menu-item-text {
  display: block;
  text-align: left;
}
