.date-jump-type,
.date-jump-type:hover,
.date-jump-type:active {
  border-radius: 8px;
  padding: 10px 20px;
  background: white !important;
  color: black !important;
  border: 1px solid white !important;
  cursor: default;
}

.date-jump-wrap .dropdown-menu {
  border: 1px solid #e8e8e8;
  box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
  font-size: 15px;
  line-height: 30px;
  top: 3px !important;
}

.date-jump-wrap .dropdown-menu button {
  cursor: pointer;
  box-shadow: none;
  outline: none;
}
