body {
  /*background-color: #f9f9f9;*/
  background: #f4f4f4;
  min-height: 100vh;
}

a {
  color: #1157ed;
}

.btn {
  font-size: 14px;
  border-radius: 8px;
}

.cursor-default {
  cursor: default !important;
}

.shadowed {
  box-shadow: 0 9px 62px -13px rgba(0, 0, 0, 0.20) !important;
}

.btn-primary {
  background: #1157ed;
  border-color: #1157ed;
}
