.top-nav {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0;
  margin-bottom: 35px;
  position: relative;
}

.top-nav .logo {
  margin-left: -10px;
}

.top-nav .logo svg {
  height: 75px;
  float: left;
}

.top-nav .logo-text {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.top-nav .logo-text h4 {
  margin: 3px 0 0;
  font-weight: 700;
  color: #2d2d2d;
}

.top-nav .logo-text p {
  margin-bottom: 0;
}

.top-nav .external-btns .btn {
  margin-left: 10px;
  margin-top: 24px;
  box-shadow: none;
}

.btn-tweet {
  background: #01aced;
  border-color: #01aced;
}

