.top-nav {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0;
  margin-bottom: 35px;
  position: relative;
}

.logo {
  margin-left: -10px;
}

.logo img {
  height: 75px;
  float: left;
}

.logo-text {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.logo-text h4 {
  margin: 3px 0 0;
  font-weight: 700;
  color: #2d2d2d;
}

.logo-text p {
  margin-bottom: 0;
}

.duration-btns a.btn {
  margin-left: 10px;
  margin-top: 24px;
}

